html {
  overflow: hidden;
}

::selection {
  background: black;
  color: white;
}

body {
  background: #35c9ff;
}

.container {
  width: 450px;
  height: auto;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-bg {
  background: black;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2rem;
  border: 1px solid black;
}

.colors {
  padding: 0 10px 35px 10px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color {
  background: #35c9ff;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

.color:hover {
  transition: 0.4s ease all;
  cursor: pointer;
  background: #2a9fc9;
}